:root{
  --primer-color: #3b82f6;
  --segundo-color: #475569;
  --tercer-color: #475569;
  --border-radius: 8px;
  --font-family-headers: 'Roboto', sans-serif;
  --font-family: 'Nunito', sans-serif;
  --font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-header);

}